---
import { getPersona } from '../lib/config'

const persona = getPersona()
---

<div class="author-bio">
  <img
    src={persona.photo_about}
    alt={persona.name_formal}
    class="author-bio__photo"
    width="80"
    height="80"
    loading="lazy"
    decoding="async"
  />
  <div class="author-bio__body">
    <p class="author-bio__label">About the author</p>
    <h3 class="author-bio__name">{persona.name_formal}</h3>
    <p class="author-bio__role">{persona.background} &middot; {persona.location}</p>
    <p class="author-bio__bio">{persona.bio_short}</p>
    <a href="/about/" class="author-bio__link">Read full bio →</a>
  </div>
</div>
